TMDB_AUTH_KEY="<YOUR-TMDB-API-KEY>"
TMDB_URL="https://api.themoviedb.org/3"
TMDB_IMAGE_URL="https://image.tmdb.org/t/p/original"
DB_HOST="db"
DB_NAME="my_tv_list"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="postgres"
